
/************
GENERAL
************/

* {
box-sizing: border-box;
}

body {
  position: relative;
  text-align: center;
}

img {
  max-width: 100%;
}

.fa {
  font-size: 40px;
}

.section-heading {
  margin-top: 40px;
  text-transform: uppercase;
}



/************
HEADER
************/

 header {
  height: 100vh;
  background-color: #ccc;
}

header .row {
  background-color: rgba(0, 0, 0, .4);
  vertical-align: middle;
}

header h1 {
  /* margin-top: 20%; */
}

/* logo */

 .logo {
   padding-top: 20px;
 }

/* navigation */

.navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar li {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 0;
}

.navbar a {
  display: block;
  width: 75.59px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px 0 20px 0;
}

.navbar a:hover {
  background-color: lightblue;
}

.main-heading {

}

.main-heading + p {
  margin: 0;
}



/************
SERVICES section
************/

.services {
  background-color: #bbb;
}

/************
WORK section
************/

/************
ABOUT section
************/
.about {

}
.about p {

}



/************
FOOTER
************/

 footer {
   background: #f4f4f4;
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;
 }

 footer p {

   margin: 0;
 }
