
/************
GENERAL
************/

* {
box-sizing: border-box;
}

body {
  position: relative;
  text-align: center;
  line-height: 1.2;
}

img {
  max-width: 100%;
}

.fa {
  font-size: 40px;
}

.section-heading {
  margin: 0;
  padding: 50px 0 50px 0;
  text-transform: uppercase;
}

.section {
  padding-bottom: 50px;
}



/************
HEADER
************/

 .header {
   color: #fff;
   background:
   linear-gradient(
   rgba(0, 0, 0, 0.5),
   rgba(0, 0, 0, 0.5)),
   url(../images/header-bg.jpg);
   background-size: cover;
   background-position: center;
   height: 100vh;
   min-height: 550px;
   ba
 }

 .header h1 {
   margin-top: 10%;
   font-size: 5.625em;
 }

 .header p {
   font-size: 2.625em;
   margin-top: 10%;
 }

 .header .button {
   margin-top: 10%;
 }


/* logo */

 .logo {
   padding-top: 20px;
 }

/* navigation */

.navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar li {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 0;
}

.navbar a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px 10px 20px;
}

.navbar a:hover {
  background-color: lightblue;
}

.main-heading {

}

.main-heading + p {
  margin: 0;
}



/************
SERVICES section
************/

.services {
  border-top: 2px solid rgb(50, 195, 240);
  height: 100vh;
  color: #fff;
  background:
  linear-gradient(
  rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5)),
  url(../images/services-bg.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/************
WORK section
************/

 .portfolio {
   height: 100vh;
 }

 .portfolio-item {
   position: relative;
   overflow: hidden;
 }

 .work-description {
   color: #fff;
   font-size: 1.5em;
   padding: 10px;
   position: absolute;
   bottom: -150px;
   background-color: rgba(50, 195, 240, .8);
   height: 150px;
   width: 100%;
   margin: 0 auto !important;
   border-radius: 20px;
   border-bottom-right-radius: 0px;
   border-bottom-left-radius: 0px;
   opacity: 1;
   -webkit-transition: all 0.5s ease-out;
   -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
     -o-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
 }

  .portfolio-item:hover  .work-description {
    bottom: 0;
  }

  p.work-description{
   margin: 0;
 }

/************
ABOUT section
************/
.about {
}
.about p {

}



/************
CONTACT section
************/
  .contact input, textarea {
    width: 60%;
    box-shadow: none;

  }

  .contact textarea {
    min-height: 200px;
    min-width: 60%;
  }




/************
FOOTER
************/

 footer {
   background: #f4f4f4;
 }


 footer p {

   margin: 0;
 }
