
/* ___________________________
GENERAL
_____________________________*/

 * {
  box-sizing: border-box;
 }

 body {
   background-color: #332a44;
   font-family: 'Raleway', sans-serif;
 }

 .clearfix::after {
   content: '';
   display: table;
   width: 100%;
   clear: both;
 }

 .container {
   max-width: 1000px;
   margin: 0 auto;
 }

 h1, h2, h3 {
    margin: 0;
 }



/* ___________________________
HEADER
_____________________________*/

 header {
   height: 100vh;
   max-height: 960px;
   background: url(../img/header-bg.jpg) no-repeat center top / cover;
 }

 .logo {
   margin-top: 40px;
   float: left;
 }

 nav {
   float: right;
   margin-top: 45px;
 }

 .menu {
   padding: 0;
   margin: 0;
   display: block;
 }

 .menu li {
   float: left;
   display: block;
   margin-right: 30px;
 }

 .menu li:last-child {
   margin-right: 0;
 }

 .menu a {
   color: #fff;
   text-decoration: none;
   text-transform: uppercase;
   font-size: 1.15em;
 }

 .header-titles {
   text-align: center;
   margin-top: 25%;
 }
 .header-titles h1 {
   color: rgba(255, 255, 255, .7);
   font-size: 3.75em;
   font-weight: 600;
   text-transform: uppercase;
 }

 .header-titles p {
   color: #fff;
   font-size: 1.875em;
   font-weight: 400;
   margin: 30px 0 0 0;
 }

 .header-button {
   width: 80px;
   height: 80px;

   display: block;
   margin: 80px auto 0;
   border-radius: 100%;
   text-align: center;
 }

 .header-button a {
   padding: 20px;
   display: block;
   color: rgba(255, 255, 255, .7);
   text-decoration: none;
   border: 3px solid #3eb5f1;
   border-radius: 100%;
 }

/* ___________________________
GENERAL
_____________________________*/
/* ___________________________
GENERAL
_____________________________*/
/* ___________________________
GENERAL
_____________________________*/
/* ___________________________
GENERAL
_____________________________*/
/* ___________________________
GENERAL
_____________________________*/
